.row {
	margin-top: 40px;
}

.parent {
	border: 1px solid #eee;
	/*display: flex;*/
	display: table;
	table-layout: fixed;
}

.parent > div {
	border-left: 1px solid #000;
	text-align: center;
	display: table-cell;
    vertical-align: middle;
    float: none;
}



/*
	-display flex apparently fixes the border
		-wont work with align-items
	-align items vertically aligns everything
	-justify content doesn't do anything
	-margin auto to child does the same as align items
		-margin auto on parent does nothing
	-vertical align middle - nothing
	-display table and tabel-cell makes it worse 
		-float none to work
*/